<div class="">
    <!--<mat-card > my-1 px-1 py-1 me-2 -->
        <div class="container">
            <div class="row" style="background-color: #202a3e;">
              <div class="col-4">
                
                <button data-mdb-toggle="sidenav" data-mdb-target="#sidenav-1" class="btn"
                    aria-controls="#sidenav-1" aria-haspopup="true">
                    <div>
                      <fa-icon [icon]="faBars" class="fa-2x" style="color: white;"></fa-icon>
                  </div>
                    
                </button>
              </div>
              <div class="col-8   d-flex justify-content-center align-items-center">
                <div class="row justify-content-center">
                  <div class="col-4">
                    <fa-icon [icon]="facar" class="fa-2x" style="color: white;"></fa-icon>
                  </div>
                  <div class="col-4 d-flex justify-content-end align-items-center">
                    <div class="col-2" style="color: white;">
                      {{sss}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-cols-1 p-3 bg-warning text-dark" style="padding: 5px !important; background-color: #ff9900 !important;">   
              </div>
              <div class="row row-cols-1" style="background-color: #434343;">
                <div class="col-12">
                  <div class="row" >
                    <div class="col-3  d-flex justify-content-end align-items-center">
                      
                      <fa-icon [icon]="faSearch" class="fa-1x" style="color: white;"></fa-icon>
                    </div>
                    <div class="col-6 d-flex align-items-center" style="color: white;">
                        All Searches
                    </div>
                  </div>
                  <div class="row" >
                    <div class="col-3  d-flex justify-content-end align-items-center">
                      <fa-icon [icon]="faSearch" class="fa-1x" style="color: white;"></fa-icon>
                    </div>
                    <div class="col-6 d-flex align-items-center" style="color: white;">
                        Active Searches
                    </div>
                  </div>
                  <div class="row" >
                    <div class="col-3  d-flex justify-content-end align-items-center">
                      <fa-icon [icon]="faSearch" class="fa-1x" style="color: white;"></fa-icon>
                    </div>
                    <div class="col-6 d-flex align-items-center" style="color: white;">
                        Archived Searches
                    </div>
                  </div>
                </div>
              </div>
              <div class="row row-cols-1 p-3 bg-light text-dark" style="padding: 2px !important; ">   
              </div>
              <div class="row row-cols-1" [style.height.px]="height" style="background-color: #434343;">
                <div class="col-12">
                  <div class="row" >
                    <div class="col-3  d-flex justify-content-end align-items-center">
                      <fa-icon [icon]="faFolderOpen" class="fa-1x" style="color: white;"></fa-icon>
                    </div>
                    <div class="col-9 d-flex align-items-center" style="color: white;">
                        Multi Platform Search
                    </div>
                    
                  </div>
                  <div class="row" >
                    <div class="col-3  d-flex justify-content-end align-items-center">
                      <div class="p-5  text-dark" style="border-right: 5px solid white;">
                      </div>
                    </div>
                    <div class="col-9 d-flex align-items-center" style="color: white;">
                        Mercedes GT Searches
                    </div>
                    
                  </div>
                  <div class="row" >
                    <div class="col-3  d-flex justify-content-end align-items-center">
                      <div class="p-5  text-dark" style="border-right: 5px solid white;">
                      </div>
                    </div>
                    <div class="col-9 d-flex align-items-center" style="color: white;">
                      Mercedes A Class Searches
                    </div>
                    
                  </div>
                  <div class="row" >
                    <div class="col-3  d-flex justify-content-end align-items-center">
                      <div class="p-5  text-dark" style="border-right: 5px solid white;">
                      </div>
                    </div>
                    <div class="col-9 d-flex align-items-center" style="color: white;">
                      Ford Flesta Searches (InActive)
                    </div>
                    
                  </div>
                  <div class="row" >
                    <div class="col-3  d-flex justify-content-end align-items-center">
                      <fa-icon [icon]="faFolderOpen" class="fa-1x" style="color: white;"></fa-icon>
                    </div>
                    <div class="col-9 d-flex align-items-center" style="color: white;">
                        Client Search
                    </div>
                    
                  </div>
                  <div class="row" >
                    <div class="col-3  d-flex justify-content-end align-items-center">
                      <fa-icon [icon]="faFolderOpen" class="fa-1x" style="color: white;"></fa-icon>
                    </div>
                    <div class="col-9 d-flex align-items-center" style="color: white;">
                        Spesific Vehicle Search
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="row row-cols-1" style="background-color: #434343;">
                <div class="row" >
                  <div class="col-3  d-flex justify-content-end align-items-center">
                    <fa-icon [icon]="faFolderOpen" class="fa-1x" style="color: white;"></fa-icon>
                  </div>
                  <div class="col-6 d-flex align-items-center" style="color: white;">
                      Billing
                  </div>
                  
                </div>
                <div class="row" >
                  <div class="col-3  d-flex justify-content-end align-items-center">
                    <fa-icon [icon]="faCog" class="fa-1x" style="color: white;"></fa-icon>
                  </div>
                  <div class="col-3 d-flex align-items-center" style="color: white;">
                      Setting
                  </div>
                  <div class="col-3 d-flex flex-row-reverse" style="color: white;">
                    <fa-icon [icon]="faGreaterThan" class="fa-1x" style="color: white;"></fa-icon>
                    <fa-icon [icon]="faGreaterThan" class="fa-1x" style="color: white;"></fa-icon>
                </div>
                  
                </div>
              </div>
              <div class="row row-cols-1 p-3 bg-warning text-dark" style=" background-color: #202a3e !important;">   
              </div>

        </div>

    <!--</mat-card> -->
</div>
